.customer-navbar {
  margin-bottom: 62px;

  .navbar {
    background-color: #F6F1EB;
  }

  @media (min-width: 767.98px) {
    .navbar {
      height: 62px;
    }
  }

  .dropdown-menu {
    min-width: 300px;
  }

  .cartCount {
    position: absolute;
    top: 15%;
  }

  .router-link-active {
    color: $primary;
  }
}
