@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-family-sans-serif: 'Montserrat', sans-serif;

@mixin flex-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #F6F1EB;
  color: $potatoText;
  font-family: 'Montserrat';

  ul {
    list-style-type: none;
  }

  #content {
    scroll-margin-top: 62px;
  }
}

.white-text-btn:hover {
  color: #fff;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.max-width-input {
  label {
    width: 100%;
  }
}

.disabled-btn:disabled {
  cursor: not-allowed;
  pointer-events: auto;
  color: $primary;
}
